{% extends "master.html" %}

     {% block title %}About Medifaces{% endblock title %}

     {% block content %}
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span8 offset2">
          <h2>What is Medifaces ??? </h2>
          <p>
            Medidata is growing fast. Take a walk in any of our offices and you'll see a new face.
            Medifaces is a little game that helps us to get to know each others names and job functions.
           </p>

          <h2>How do I win?</h2>
          <p>Every time you identify a fellow Medidatian you get 1 point.</p>
          <p>
            As you gain points you
            will gain levels with the ultimate goal of getting to <em>AWESOME</em>.
            Getting to <em>AWESOME</em> is by no means easy.
          </p>

           <h2>How do WE win?</h2>
           <p>It's more fun to work at a company where everybody knows your name.</p>

           <h2>What are these <img src="/static/img/toxic32.png">?</h2>
           <p>
             The game works when everyone plays fair and adds an image of themselves that people
             can recognize. It breaks down when people upload avatars and other images that make
             them unrecognizable.
           </p>

           <p>
             If you are asked to recognize a player and they're not playing nice you can click
             the image to mark them as Toxic. This will lock them out for 24 hours, during which time
             they will hopefully
             <a href="https://mdsol.jiveon.com/docs/DOC-1006">upload a recognizable picture of themselves</a>
             into Medidata Express.
           <p/>

           <h2>The scores don't seem to add up?</h2>
           <p>
             Although we don't show the scores achieved by ex-employees on the main scoreboard we
             do still count them toward departmental and location totals. That's why a departments score
             can be higher than the sum of its (apparent) individuals.
           </p>
        </div>
      </div>
     {% endblock content %}
