{% extends "master.html" %}

{% block pagescripts %}
    <script src="https://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <script src="/static/js/play.js"></script>
{% endblock pagescripts %}

{% block script %}
    var turn_id="{{ id }}";
    var this_player_fullname="{{ this_player.fullname }}";
    var pubnub_subscribe_key="{{ pubnub_subscribe_key }}";
    var pubnub_publish_key="{{ pubnub_publish_key }}";
{% endblock script %}

{% block content %}
<!-- Example row of columns -->
<div class="row-fluid">

    <div class="span3">
        <div class="thumbnail">
            <img id="you_pic" src="data:image/jpeg;base64,{{this_player.picture_src}}" class="img-rounded"/>
            <div id="p_name">{{ this_player.fullname}}</div>
            <div id="p_title">{{ this_player.title }}</div>
            <hr class="thinhr"/>
            <div id="levbox">
                <div id="p_level">Level <span id="level_val">{{ player_level.0 }}</span> </div>
                <div id="p_level_name"> <span id="level_name">{{ player_level.1 }}</span></div>
                <div id="pbar" class="progress progress-success progress-striped">
                  <div id="innerbar" class="bar" style="width: {{ player_level.2 }}%;"></div>
                </div>
            </div>
            {% if not no_players_left %}
            <div id="filter">
            <hr class="thinhr"/>
                <h5 class="text-center">Filter by:</h5>
                <label for="department">Department: </label>
                <div class="text-right">
                    <select id="department">
                        <option value="All">All</option>
                        {% for d in departments %}
                        <option value="{{d}}">{{d}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="location">Location: </label>
                <div class="text-right">
                    <select id="location">
                        <option value="All">All</option>
                        {% for loc in locations %}
                        <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                        <option value="Remote">Remote</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            {% endif %}
            <!-- For debugging
            <div>{{ this_player.points }}</div>

            -->
        </div>
    </div>

    <div class="span6">

        <div id="gamecenter" class="thumbnail">
            {% if not no_players_left %}
            <div class="btn-group">
              <button href="#" id="toxic" class="btn btn-small"><i> <img src="/static/img/toxic16.png" alt="toxic"></i> Report Bad Image</button>
            </div>


            <h2>This is....?</h2>
            <img id="player_img" src="data:image/jpeg;base64,{{image_url}}" class="img-rounded">

            <div id="game_result_outer">
                <div id="game_result"> </div>
                <div class="text-center"> <button class="btn btn-large" id="reset-filters">Reset Filters</button> </div>
                <div id="points"></div>
                <img id="loading" style="display:none;" src="/static/img/ajax-loader.gif" />
            </div>

            <div id="guesses">
                <table class="table table-hover guesstable">
                    <tbody id="player_table">
                        {% for p in players %}
                        <tr>
                            <td><span id="name">{{p.name}}</span>, <span id="title">{{p.title}}</span></td>
                            <td>
                                <button value="{{p.id}}" class="btn playbtn">Select</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- for debugging
            <p>The answer is <span id="the_answer">{{ answer }}</span></p>
            -->
            {% else %}
            <div id="game_result_outer">
                <div id="game_result">
                    <p>You have collected all the Medidatians in the game! Until some more people sign up, you can't collect more Medidatians. Thanks for playing!</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="span3">
        <div class="thumbnail">
            <p class="centerbold">Messages</p>
            <hr class="thinhr"/>
            <div id="useractions" class="interactions">

            </div>
            <hr class="thinhr"/>
            <div id="messages" class="form-inline">
              <a class="btn" id="sendmsg">Send</a>
              <span><input type="text" id="chatbox" placeholder="Chat..."></span>
            </div>
        </div>
    </div>



</div>

{% endblock content %}

{% block endbody %}
    <div id=pubnub ssl=on></div>
{% endblock endbody %}

