.DS_Store

# tiles
**/node_modules/
**/extension_src/public/
**/extension_src/definition.json
**/extension_src/meta.json
**/db/
**/extension.zip
**/logs
*.swp

# userprofileupdater
/userprofileupdater/config.json

#anniversary
/anniversary/config.js
/anniversary/sftp-config.json