body {
    color: #5e5e5e;
    font: 13px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h3 {
  margin-top: 0;
}

#description {
  margin: 0;
}

#feed {
  margin: 10px;
}

#metadata {
  margin-bottom: 10px;
}

#description {
  line-height: 1.5em;
}

#item {
  display: flex;
  align-items: center;
}

img {
  margin-right: 15px;
  height: 100px;
}

.indent {
  margin-left: 20px;
}

label {
  display: block;
}

#show-link {
  margin-right: 5px;
}
input {
  margin-bottom: 20px;
}
