body {
    color: #5e5e5e;
    font: 14px "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#title {
  font-size: 18px;
  margin-bottom: 10px;
}

#description {
  margin: 0;
}

#feed {
  margin: 10px;
}

#metadata {
  margin-bottom: 10px;
}

#description {
  line-height: 1.5em;
}

#item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  #item {
    flex-wrap: wrap;
  }
}

img {
  margin-right: 15px;
  height: 100px;
}

.indent {
  margin-left: 20px;
}

label {
  display: block;
}

input[type=checkbox] {
  margin-right: 5px;
}

.group {
  margin-bottom: 20px;
}

#content {
  width: 100%;
}

footer {
  margin-top: 35px;
}
